button {
  line-height: 1;
  font-size: 0.8rem;
  background: white;
  color: #777;
  padding: 5px;
  margin: 0;
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  transition: border 0.5s ease;
  font-style: italic;
  font-weight: 300;

  &:hover, &:focus {
    border-color: #b3eecc;
  }

  &:active {
    background: #eafaf1;
  }
}
