.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player__name {
  font-weight: 700;
  flex-grow: 1;
}

.player__position {
  width: 10%;
  margin-right: 20%;
  padding-left: 10px;
}

.player__position, .player__stats {
  color: #777;
  font-weight: 300;
}

.player__position-1 {
  border-left: 3px solid gold;
  padding-left: 7px;
}

.player__position-2 {
  border-left: 3px solid silver;
  padding-left: 7px;
}

.player__position-3 {
  border-left: 3px solid #CD7F32;
  padding-left: 7px;
}
