.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player__name {
  font-weight: 700;
}

.player__position, .player__stats {
  font-weight: 300;
}

.player__actions {

}
